<!DOCTYPE html>
<html>
    {{>head}}
    <body>
        {{>header}}
        {{>navbar}}
        <div class = "jumbotron text-center">
            This website is created by Shashikant Kadam as a project while learning Node js.<br/>
            It consists of a node.js backend which is able to serve client side web apps or games.<br/>
            Feel free to browse through this and other projects at <a href = "www.github.com/shashikdm">www.github.com/shashikdm</a><br/>
        </div> 
        {{>footer}}
    </body>
</html>