<!DOCTYPE html>
<html>
    {{>head}}
    <body>
        {{>header}}
        {{>navbar}}
        <div class = "jumbotron text-center">
            contributions are always welcome.<br/>
            Head to <a href = "https://github.com/shashikdm/Fun-JS-Games">https://github.com/shashikdm/Fun-JS-Games</a>.<br/>
            Add your game/app folder to <kbd>public/games.</kbd><br/>
            Do not forget to append your name in <kbd>contributors.JSON</kbd>.
        </div> 
        {{>footer}}
    </body>
</html>