table
{
    table-layout:fixed;
    margin:auto;
}
td
{
    border: solid black;
    border-radius:4px;
    height:4vw;
    width:4vw;
    text-align:center;
    font-family:sans-serif;
    font-size:3vw;
    color:white;
}
#timer
{
    text-align:center;
    font-family:courier;
    font-size:150%;
}
button
{
    display:block;
    margin:auto;
}